*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
body{
    padding: 0 1rem;
}

h1{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}
.imgContainer{
    background-image: url(recipe-page-master/photo1.png);
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
#flexContainer{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    line-height: 10px;
}
#ingreContainer{
    line-height: 1.4em;
}
#ingreContainer span{
    font-weight: bolder;
}

#iconRemain h4{
    color: rgba(0, 0, 0, 0.437);
}
.only, .yellow{
    color: #F2994A;
}

.iconRemain{
    display: flex;
    justify-content: space-between;
}
.profile{
    display: flex;
    padding: 15px 30px;
}
.profile div{
    margin: 0 10px;
}
.profile div h4{
    margin: 5px 0;
}
.instruCont ol{
    counter-reset: li;
    position: relative;
    list-style: none;
}
.instruCont ol li{
    padding: .5em 0;
    counter-increment: li;
    position: relative;
    
}
.instruCont ol li::before{
    display: inline-block;
    content: counter(li);
    position: absolute;
    top: 0.5em;
    left: 0;
    color: #fff;
    background: #F2994A;
    border-radius: .3em;
    text-align: center;
    padding: .3em .5em;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;

}
.instruCont ol li p{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 150%;
    padding-left: 2em;
}
@media (min-width: 990px){ 
    body{
        padding: 0 10rem;
    }
    #flexContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .iconRemain{
        display: block;
    }
    #ingreContainer{
        width: 50%;
    }
    #iconCont{
        width: fit-content;
        box-shadow: 0 5px 10px rgba(0,0,0,.5);
        border-radius: 1em;
        height: fit-content;
        padding: 3rem 2rem;
    }
    .head{
        width: 50%;
    }
}